.event-page-body{
    
position: relative;
}

.event-heading{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.rotating-img{
width: 100px;
height: 100px;
animation: animate 5s cubic-bezier(.64, -.56, .36, 1.56) infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(0);
        transform: rotateY(0);
    }
    80%,
    100% {
        transform: rotateX(360deg);
        transform: rotateY(360deg);
    }
}


.MuiTab-textColorSecondary.Mui-selected{
    color: white !important;
    background-color: #f50057 !important;
    border-radius: 5px;
    width: 50%;
}


.event-container{
    position: relative;
    width: 80%;
    margin-top: 0px;
    margin: 240px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-box {
    position: relative;
    width: 300px;
    height: 300px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094);
    box-sizing: border-box;
    overflow: hidden;
    background-size: 400%;

}
.event-box:hover{
    cursor: pointer;
    box-shadow:0px 5px 5px 5px #0000ff;

}
.event-box-parent{
    position: relative;
    width: 300px;
    margin: 15px;
    border-radius: 5px;
    height: 300px;
    animation: borderAnimation 10s forwards infinite;
}
.event-box-parent::before{
    content: "";
    position: absolute;
    top:-3px;
    left:-3px;
   width: calc(100% + 6px);
   background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094);
    z-index: 0;
    background-size: 400%;
    height: calc(100% + 6px);
    animation: borderAnimation 10s forwards infinite;
}
@keyframes borderAnimation{
    0%{
        background-position: 0 0 ;
    }
    50%{
        background-position: 400% 0 ;
    }
    100%{
        background-position: 0 0 ;
    }

}
.event-box .event-icon{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

.event-box:hover .event-icon {
    top:20px;
    left:calc(50% - 40px);
    width: 100px;
    background: yellow;

    height: 100px;
    border-radius: 50%;
    background: linear-gradient(45deg,#fb0094,#0000ff);
}
.event-box .event-icon .event-img{
    position: absolute;
    top:50%;
    width: 100%;
    height: 100%;
    left:50%;
    transform: translate(-50%,-50%);
}
.event-box:hover .event-icon .event-img{
    font-size: 80px;
}
.event-content{
    position: absolute;
    background-color: rgb(0,0,0,0.8);
    padding:5px;
    height: calc(100%-100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    top:70px;
    overflow:hidden;
}
.event-box .event-content h2{
   font-weight: 500;
   padding:10px ;
   border: 1px solid #b0b0ff;
   display: block;
   margin-left: auto;
   margin-right: auto;
   color:white;
   text-align: center;

}
.event-box .event-content p{
    margin-left: auto;
    margin-right: auto;
    color:white;
    text-align: center;
    font-size: 0.7rem;
    overflow: hidden;
 }










 .event-photos-container{
     list-style: none;
    position: relative;
    width: 80%;
    align-self: center;
    left:50%; 
     transform: translateX(-52%); 
    height: 25rem;
    /* background: #ccc; */
    display: flex;
 }
 ..event-photos-container img{
     width: 100%;
     height: 100%;
 }

 .event-photo-li{
     width: 20%;
     height: 100%;
     background-position: left;
     position: relative;
     /* background-size: cover; */
     border-right: 1px solid #000;
     box-sizing: border-box;
     transition: 0.5s;
     text-align: center;
     overflow: hidden;
 }
 .event-photos-container:hover  .event-photo-li{
    width: 10%;
}
 .event-photos-container .event-photo-li:hover{
     width:60%;
 }

 .event-photo-li-content{
     position: absolute;
     bottom: -100%;
     left:0;
     width: 100%;
     background: rgba(0,0,0,0.8);
     color:#afff;
     opacity: 0;
 }

 
 .event-photos-container .event-photo-li:hover .event-photo-li-content{
     bottom:0;
     transition: 0.5s;
     transition-delay: 0.2s;
     opacity: 1;
 } 