* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}
/* body {
  background-image: url(https://res.cloudinary.com/mamo/image/upload/v1475946574/Damask-Purple-Background-1_zlhs3w.jpg) !important;

} */
